dynamic_index/data.direct.bf
dynamic_index/data_1.document.fsarrayfile
dynamic_index/data.inverted.bf
dynamic_index/data.lexicon.fsomapfile
dynamic_index/data.document.fsarrayfile
dynamic_index/data.meta-0.fsomapfile
